.defaultcontainer 
{
    display: flex;
    //grid-template-columns: auto auto;
    //grid-template-rows: auto auto auto;
    flex-direction: column;
    background-color: blue;
    width: 100vw;
    position: fixed;
}

.postcontainer
{
    display: flex;
}

html, body
{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header
{
    background-color: rgb(33, 33, 33);
    color: rgb(205, 205, 205);
    border-bottom: 2px solid darkred;
    height: 40px;
    width: 100%;
    font-size: 24px;
    z-index: 1000;
    padding-top: 10px;
    //grid-column-start: 1;
    //grid-column-end: 2;
    //grid-row: 1;
}

header span
{
    margin-left: 10px;
}

.maincontent
{
    background-color: rgb(43, 43, 43);
    color: rgb(205, 205, 205);
    overflow: auto;
    height: calc(100vh - 86px);
}

.pagecontent
{
    padding-left: 30px;
}

nav
{
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 1001;
    //grid-column-start: 1;
    //grid-column-end: 2;
    //grid-row: 2;
    background-color: rgb(63, 63, 63);
    border-bottom: 2px solid darkred;
}

nav a
{
    font-size: 20px;
    margin: -2px;
    padding: 4px;
    color: rgb(205, 205, 205);
    background-color: rgb(63, 63, 63);
    text-decoration: none;
    transition-duration: .2s;
    border-left: 1px rgb(85, 85, 85) solid;
    border-right: 1px rgb(85, 85, 85) solid;
}

nav a:hover
{
    background-color: rgb(85, 85, 85);
    color: white;
}

nav a:active
{
    background-color: darkslategray;
}

@media screen and (max-width:800px)
{
    nav, header
    {
        position: relative;
        text-align: center;
    }
}

.sidenav
{
    border-right: 2px solid darkred;
    border-bottom: 2px solid darkred;
    margin-left: 0px;
    width: max-content;
    background-color: rgb(63, 63, 63);  
    color: rgb(205, 205, 205);
    //grid-column: 1;
    //grid-row: 3;
}

// @media screen and (max-width:800px)
// {
//     .sidenav, .main, header
//     {
//         width: auto;
//     }
// }

@media screen and (max-width:800px)
{
    .defaultcontainer
    {
        height: auto;
        position: relative;
    }
}

@media screen and (max-width:800px)
{
    .pagecontent, .maincontent
    {
        overflow-y: hidden;
        height: auto;
    }
}
// @media screen and (max-width:800px)
// {
//     .sidenav, .main
//     {
//         border-bottom: 0px;
//         border-right: 0px;
//         margin: 15px;
//     }
// }

@media screen and (max-width:800px)
{
    .postcontainer
    {
        flex-direction: column;
    }
}

ul, #navlist
{
    list-style-type: none;
}

#navlist
{
    margin: 0px;
    padding: 6px;
}

.sidenav a
{
    text-decoration: none;
    color:rgb(198, 0, 0);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}

.sidenav a:hover
{
    background-color: rgb(85, 85, 85);
}

.sidenav li
{
    white-space: nowrap;
}