.defaultcontainer 
{
    display: flex;
    //grid-template-columns: auto auto;
    //grid-template-rows: auto auto auto;
    flex-direction: column;
    background-color: blue;
    width: 100vw;
    position: fixed;
}

.postcontainer
{
    display: flex;
}

html, body
{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.5s;
    background-color: rgb(43, 43, 43);
}

header
{
    background-color: rgb(33, 33, 33);
    color: rgb(205, 205, 205);
    border-bottom: 1px rgb(85, 85, 85) solid;
    height: 40px;
    width: 100%;
    font-size: 24px;
    z-index: 1000;
    padding-top: 10px;
    //grid-column-start: 1;
    //grid-column-end: 2;
    //grid-row: 1;
}

header span
{
    margin-left: 10px;
}

.maincontent
{
    background-color: rgb(43, 43, 43);
    color: rgb(205, 205, 205);
    overflow-y: auto;
    height: calc(100vh - 83px);
}

.pagecontent
{
    padding-left: 30px;
    padding-right: 30px;
}

nav
{
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 1001;
    //grid-column-start: 1;
    //grid-column-end: 2;
    //grid-row: 2;
    background-color: rgb(38, 38, 38);
    border-bottom: 1px rgb(85, 85, 85) solid;
}

nav a
{
    font-size: 20px;
    margin: -2px;
    padding: 4px;
    color: rgb(205, 205, 205);
    background-color: rgb(38, 38, 38);
    text-decoration: none;
    transition-duration: .2s;
    border-left: 1px rgb(85, 85, 85) solid;
    border-right: 1px rgb(85, 85, 85) solid;
}

nav a:hover
{
    background-color: rgb(85, 85, 85);
    color: white;
}

nav a:active
{
    background-color: darkslategray;
}

@media screen and (max-width:800px)
{
    nav, header
    {
        position: relative;
        text-align: center;
    }
}

.sidenav
{
    border-right: 1px rgb(85, 85, 85) solid;
    border-bottom: 1px rgb(85, 85, 85) solid;
    margin-left: 0px;
    width: max-content;
    background-color: rgb(38, 38, 38);  
    color: rgb(205, 205, 205);
    //grid-column: 1;
    //grid-row: 3;
}

// @media screen and (max-width:800px)
// {
//     .sidenav, .main, header
//     {
//         width: auto;
//     }
// }

@media screen and (max-width:800px)
{
    .defaultcontainer
    {
        height: auto;
        position: relative;
    }
}

@media screen and (max-width:800px)
{
    .pagecontent, .maincontent
    {
        overflow-y: hidden;
        width: auto;
        height: auto;
    }
}
@media screen and (max-width:800px)
{
    .sidenav
    {
        border-bottom: 0px;
        border-right: 0px;
        padding-left: 24px;
        font-size: 24px;
    }
}

@media screen and (max-width:800px)
{
    .postcontainer
    {
        flex-direction: column;
        align-items: center;
    }
}

ul, #navlist
{
    list-style-type: none;
}

#navlist
{
    margin: 0px;
    padding: 6px;
}

.sidenav a
{
    text-decoration: none;
    color:rgb(198, 0, 0);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}

.sidenav a:hover
{
    background-color: rgb(85, 85, 85);
}

.sidenav li
{
    white-space: nowrap;
}

blockquote 
{
    border-radius: 6px;
    background-color: rgb(30, 30, 30);
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

table, th, td
{
    background-color: rgb(30, 30, 30);
    padding: 5px;
    //border: 1px solid red;
    border-collapse: collapse;
}
