---
layout: default
---
<style>
    .compTitle
    {
        text-align: center;
    }

    .sidenav
    {
        position: fixed;
        background-color: lightgray;
        border-radius: 6px;
        margin-top: 27px;
        width: 20%;
    }

    .sidenav a
    {
        padding-right: 20px;
    }

    .main
    {
        width: 78%;
        float: right;
    }

    @media screen and (max-width:800px)
    {
        .sidenav, .main
        {
            width: 100%;
        }
    }

        @media screen and (max-width:800px)
    {
        .sidenav
        {
            position: relative;
        }
    }

    ul, #navlist
    {
        list-style-type: none;
    }

    #navlist
    {
        margin: 0px;
        padding: 6px;
    }

    .caret
    {
        cursor: pointer;
        user-select: none;
    }

    .caret::before
    {
        content:"\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    .caret-down::before
    {
        transform: rotate(90deg);
    }

    .nested
    {
        display: none;
    }

    .active
    {
        display: block;
    }
</style>

<div class="sidenav">
    <ul id="navlist">
        <li><span class="caret">Professions</span>
            <ul class="nested">
                {% assign professions = site.posts | where: 'parent', Professions %}
                {% for post in professions %}
                <li>
                    <a href="/Fated-Companion{{ post.url }}">{{post.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
        this.parentElement.querySelector(".nested").classList.toggle("active");
        this.classList.toggle("caret-down");
    });
    } 
</script>

<div class="main">
    <h1 class="compTitle">{{page.title}}</h1>
    {{ content }}
</div>